.card {
  /*box-shadow: 0 0 1rem 0px rgb(0 0 0 / 15%);*/
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  @extend .border-0;
  height: 100%;
  transition: all 0.3s;

  a {
    text-decoration: none;
    color: $gray-800;
  }
  a:not(.btn):hover {
    color: $black;
  }
}

.card:hover {
  /*box-shadow: 0 0 1.2rem 0px rgb(0 0 0 / 40%);*/
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
    0 10px 10px -5px rgb(0 0 0 / 4%);
  transition: all 0.3s;
}

@mixin card-overlay($height: 120px) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $height;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.card-img {
  background-size: cover;
  background-position: center center;
  height: 100%;
  &-top {
    @extend .card-img;
  }
  &-top,
  &-top ~ .card-img-overlay {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.card-img-overlay {
  @include card-overlay;
  .card-title {
    @extend .text-center;
    @extend .text-light;
    @extend .h4;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  }
}

.card-img-left {
  @extend .card;
  display: flex;
  flex-direction: row;
  & .card-img {
    @extend .rounded-start;
    @extend .col-5;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  & .card-body {
    @extend .col-7;
  }
}
